@use "./variables" as *;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: system-ui, sans-serif;
}

body {
  background: $bg;
  color: $text;
}

// #root {
//   max-width: 1100px;
//   margin: 0 auto;
//   padding: 1.5rem;
// }
