@use "../base/variables" as *;

.home {
	min-height: calc(100vh - 2rem);

	&__brand {
		display: inline-flex;
		align-items: center;
		gap: 0.5rem;
		font-weight: 700;
	}

	&__search {
		flex: 1;
		display: flex;
		flex-direction: row;
		gap: 0.6rem;
		max-width: 720px;
		margin: 0 auto;

		input {
			flex: 1;
			min-width: 120px;
			background: $bg;
		}
	}

	&__sidebar {
		position: sticky;
		top: 64px;
		height: fit-content;
		padding-right: 0.5rem;
	}
}

@media (max-width: 520px) {
	.home {
		&__sidebar {
			display: none;
		}

		&__search {
			max-width: 100%;
			margin: 0;
		}
	}
}
